body{
	background-color: #160D27 !important;
	color: white;
}

#menu{
	padding-left: 80px;
}
.nav-link{
	color: white !important;

}

.navbar-nav .nav-link {
	 padding-left: 16px;
}

.nav-link:hover{
	color: #FFD700 !important;
}

legend {
	font-size: 1.2rem;
}

#LogoMMIfoot{
	width: 30px;
	height: 30px;
}
#logoMMI{
	width: 30px;
	height: 30px;
}
#profil{
	width: 50px;
	height: 50px;
}

#head-container {
	position: relative;
}

#head{
	padding-bottom: 125px;
}
#decouvrir {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
}

p{
	text-align: justify;
}

#projets{
	height: 200px;
}

.col {
	/* Vos styles de colonne */
}

.col.col-with-margin-1 {
	margin-top: 20px;
}

.col.col-with-margin-2 {
	margin-top: 40px;
}

.col.col-with-margin-3 {
	margin-top: 60px;
}

.col.col-with-margin-4 {
	margin-top: 80px;
}

#connex{
	width: 80px;
	height: 80px;
}

.navbar-light .navbar-toggler {
	color: rgba(255,255,255,.55) !important;
	border-color: rgba(255,255,255,.1) !important;
}

.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
	text-align: end;
}

.rating input {
	display: none;
}

.rating label {
	display: inline-block;
	padding: 5px;
	font-size: 24px;
	color: #777777;
	cursor: pointer;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
	color: #ffcc00;
}

#btnSubmit {
	margin-top: 10px;
}

#maskedPassword {
	font-family: monospace;
	letter-spacing: 2px;
	color: white; /* Couleur du texte en blanc */
	background-color: #160D27;
	border: none;
}
@media screen and (max-width: 770px) {
	#menu{
		padding-left: 0px;
	}

	#logo{
		margin-left: 60px;
		margin-bottom: 10px;
		width: 30px;
		height: 30px;
	}

	p{
		text-align: left;
		font-size: 0.8rem;
	}

	#form {
		width: 100% !important;
	}
	
	.col-md-3 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.img-thumbnail {
		padding: 0.25rem;
		background-color: #fff;
		border: 1px solid #dee2e6;
		border-radius: 0.25rem;
		max-width: 100%;
		height: 100px !important;
	}


}