{% extends "index.html.twig" %}

{% block section %}
    <h2 class="text-center pt-3">Contactez-Nous</h2>
        <div class="container row d-flex justify-content-center pt-5">
                <div class="col-md-4">
                    <div class="contact-info h-100 ">
                        <h3 class="pb-5">Contact Information</h3>
                        <ul class="list-unstyled">
                            <li class="d-flex py-3">
                                <span class="material-icons pe-2">call</span>
                                <span class="text">05 63 62 11 50</span>
                            </li>
                            <li class="d-flex py-3">
                                <span class="material-icons pe-2">email</span>
                                <span class="text">castres@iut-tlse3.fr</span>
                            </li>
                            <li class="d-flex py-3">
                               <span class="material-icons pe-2">room</span>
                                <span class="text">Av. Georges Pompidou, 81100 Castres</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form h-100">
                        <form class="mb-5" method="post" id="contactForm" name="contactForm" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-6 form-group mb-3">
                                    <label for="nom" class="col-form-label"><i class="fas fa-user mr-2"></i>Nom <span class="text-warning">*</span></label>
                                    <input type="text" class="form-control" name="nom" id="nom" placeholder="Votre nom">
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="prenom" class="col-form-label"><i class="fas fa-user mr-2"></i>Prénom <span class="text-warning">*</span></label>
                                    <input type="text" class="form-control" name="prenom" id="prenom" placeholder="Votre prénom">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group mb-3">
                                    <label for="email" class="col-form-label"><i class="fas fa-envelope mr-2"></i>Email <span class="text-warning">*</span> </label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Votre email">
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="tel" class="col-form-label"><i class="fas fa-phone-alt mr-2"></i>Téléphone</label>
                                    <input type="number" class="form-control" name="tel" id="tel" placeholder="Phone 06 ...">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 form-group mb-3">
                                    <label for="message" class="col-form-label"><i class="fas fa-comment mr-2"></i>Message  <span class="text-warning">*</span></label>
                                    <textarea class="form-control" name="message" id="message" cols="30" rows="4" placeholder="Écrivez votre message"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input type="submit" value="Envoyer le message" class="btn btn-primary py-2 px-4">
                                    <span class="submitting"></span>
                                </div>
                            </div>
                        </form>
                    </div>
        </div>
    </div>
{% endblock %}
