{% extends "index.html.twig" %}

{% block section %}
	<table class="table table-hover table-sm">
		<thead>
			<tr>
				<th>nom</th>
				<th>prenom</th>
				<th>email</th>
				<th>identifiantiut</th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<td>{{detail.nom}}</td>
					<td>{{detail.prenom}}</td>
					<td>{{detail.email}}</td>
					<td>{{detail.identifiantiut}}</td>
				</tr>
		</tbody>
	</table>
{% endblock %}
